<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>게시판</title>
    
</head>
<body>

<div class="container mt-5">
    <h1>게시판</h1>
    <a href="{%url 'post'%}" >글쓰기</a>

    {% for content in write %}
    <a href="{% url 'comment_page'%}"><h5>{{content}}</h5></a>
    <h6>{{created_at}}</h6>
    {% endfor %}
</div>
    

</body>
</html>
