<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>게시판 선택</h1>
<div class="button-group">
    <a href="{% url 'board'%}"><button>Video</button></a>
    <button>Design</button>
    <button>Photo</button>
    <button>Web</button>
    <button>Composing</button>
    <button>Product Manager</button>
    <button>IOS</button>
    <button>Lyric</button>
    <button>Vocal</button>
    <button>Android</button>
    <button>Marketing</button>
    <button>Dance</button>
    <button>Server</button>
    <button>Advertisement</button>
    <button>etc</button>
</div>

</body>
</html>
